.container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 3%;
    width: 100%;
}

@media (max-width: 768px){
    .container{
        padding: 15%;
    }
}