.erroBusca{
    color: white;
    width: 40%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.erroBusca img{
    width: 50%;
}

@media(min-width: 320px) and (max-width: 519px){
    .erroBusca{
        font-size: 15px;
    }
    .erroBusca img{
        width: 80%;
    }
    
}