@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.busca{
    width: 50%;
    height: 6vh;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background-color: whitesmoke;
    transition: 120ms ease-in-out;
    box-shadow: 2px 4px 16px rgba(255,255,255,0.8);
    margin-top: 15vh;
}

.busca:focus{
    border: none;
    border-bottom: 6px solid rgb(83, 79, 79);
}

@media(min-width: 320px) and (max-width: 519px){
    .busca{
        width: 80%;
        font-size: 14px;
        margin-top: 32vh;
    }
    
}
@media (min-width: 520px) and (max-width: 1000px){
    .busca{
        width: 70%;
        font-size: 18px;
    }
}