.detalhes{
    width: 100%;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

@media (max-width: 768px){
    .detalhes{
        padding-top: 10%;
        padding-bottom: 10%;
    }
}