.loginForm{
    display: flex;
    gap: 50px;
    border: 3px solid white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding: 24px 14px;
    width: 80%;
}

.loginFormImg{
    width: 50%;
}

.loginFormImg img{
    width: 100%;
}

.loginFormForm{
    background-color: whitesmoke;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: black;
}