.navNavbarLink {
    display: flex;
    margin: 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    /* color: rgb(202, 189, 189); */
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.linkDestacado{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

@media (max-width: 768px){
    .navNavbarLink {
        display: none;
    }
}