.navNavbarLink {
    display: flex;
    margin: 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    position: relative; 
    transition: 0.2s ease;
}

.navNavbarLink:after {
    display: block;
    content: '';
    position: absolute; 
    bottom: -5px; 
    left: 0;
    width: 100%;
    border-bottom: solid 3px white;  
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}

.navNavbarLink:hover:after {
    transform: scaleX(1);
}



.linkDestacado{
    color: white;
    font-weight: 800;
    font-size: 17px;
    transition: 200ms ease-in-out;
}

.linkSemScroll{
    color: black;
    font-weight: 600;
    
}

.dark{
    background-color: black;
}

@media (max-width: 768px){
    .navNavbarLink {
        display: none;
    }
}