.navNavbarLink {
    display: flex;
    margin: 20px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.navNavbarLink:hover{
    font-size: 20px;
    color: white;
    transition: 0.2s ease;    
    size: 40;
}



.linkDestacado{
    color: white;
    font-weight: 600;
    
    
}

.linkSemScroll{
    color: black;
    font-weight: 600;
    
}

@media (max-width: 768px){
    .navNavbarLink {
        display: none;
    }
}